.main-navigation {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	@media screen and (min-width: $midwidth) {
		width: auto;
		clear: none;
		float: right;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background-color: rgba($color-dark-grey, .8);
			float: left;
			position: absolute;
			top: 38px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				margin: 0;
				text-align: left;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
					text-align: left;
				}
			}

			a {
				width: 200px;
				color: #fff
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus,
			a.active {
				color: $color-red;
				background-color: #fff;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;
		margin: 0 0 0 0px;
		text-transform: uppercase;
		font: {
			family: $font__heading;
			size: 15px;
		}
		@media screen and (min-width: $tabwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 14px;
			float: left;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 15px;
			margin-right: 10px;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	li.dropdown::after {
		content: url(images/arrow.png);
	    width: 8px;
	    height: 6px;
	    position: absolute;
	    right: -1px;
    	top: 5px;
	}
	li.current-menu-item::after {
		content: url(images/arrow-hover.png);
	    width: 8px;
	    height: 6px;
	    position: absolute;
	    right: -1px;
    	top: 5px;
	}
	a {
		display: block;
		text-decoration: none;
		color: $color-dark-grey;
		padding: 8px 20px ;
		@include transition(all .3s ease);
		@media screen and (min-width: $tabwidth) {
			padding: 8px 10px ;
		}
		@media screen and (min-width: $midwidth) {
			padding: 8px 10px ;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 8px 12px ;
		}

		&:hover, .active {
			background-color: rgba(255,255,255,.3);
			color: $color-red;
		}
	}
	a.active {
		color: $color-red;
	}
}
body.home .main-navigation {
	a {color: #fff;}
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
